.zfl-slide-image {
  width: 100%;
  padding: 12px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  padding-left: 12px;
  display: flex;

  &::after {
    flex: none;
    content: ' ';
    width: 12px;
  }
  > .img {
    flex: none;
    width: 96px;
    height: 150px;
    margin-right: 9px;
    border-radius: 6px;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &:last-child {
      margin-right: 0;
    }
  }
}
