@import (reference) './color';

.prop-setting {
  width: 300px;
  height: calc(100vh - 110px);
  background-color: #fff;
  opacity: 1;
  transition: all 0.2s ease-in-out;

  &.hide {
    // padding: 0;
    // opacity: 0;
  }

  > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    font-size: 16px;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    color: #18191a;
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #f5f5f5;

    .save-cTpl {
      font-size: 12px;
      font-family: PingFangSC, PingFangSC-Regular;
      font-weight: 400;
      text-align: right;
      color: #484a4d;

      &:hover {
        color: @primary-color;
      }
    }
  }

  > .setting {
    height: calc(100vh - 160px);
    padding: 16px 12px;
    overflow: hidden scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
